/* You can add global styles to this file, and also import other style files */
:root {
  --ng-doc-primary: #020617;
}

html body {
  --ngx-traak-editor-width: 500px;
  --ngx-traak-editor-height: auto;
}
