.ProseMirror {
  padding: var(--ngx-traak-space-1);
  margin: var(--ngx-traak-space-1) 0;
  width: var(--ngx-traak-editor-width);
  height: var(--ngx-traak-editor-height);
}

.ProseMirror:focus {
  text-decoration: none;
  outline: none;
}

.ngx-traak-node__task-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

code {
  background-color: rgb(241 245 249);
  padding: var(--ngx-traak-space-0);
  border-radius: var(--ngx-traak-space-0);
  font-family: "Fira Code", monospace;
}
