.ProseMirror {
  padding: 10px;
  margin: 10px 0;
  width: 500px;
  height: 500px;
}

.ProseMirror:focus {
  text-decoration: none;
  outline: none;
}

.ngx-traak-node__task-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

code {
  background-color: rgb(241 245 249);
  padding: 6px 5px 4px;
  border-radius: 3px;
  font-family: "Fira Code", monospace;
}
